* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 64px 164px 9px 165px;
}


header ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

header ul li {
    font-size: 15px;
    font-weight: 380;
    font-family: "Public Sans", sans-serif;
    text-transform: uppercase;
}

header ul li a {
    text-decoration: none;
    color: #33323D;
}

.header__link {
    color: #5FB4A2;
}

.hero__section {
    position: relative;
    height: 90vh;
    flex-shrink: 0;
    background: url('../../../assets/home/image-homepage-hero.jpg');
    background-size: 120%;
    background-position: center;
    display: flex;
    align-items: flex-end;
    margin-top: 85px;
    margin-left: 170px;
    margin-right: 169px;
}

.hero__container {
    width: 440px;
    height: 350px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
}

.hero__sobre {
    font-family: "Ibarra Real Nova", sans-serif;
    font-size: 50px;
    color: #33323D;
    background-color: #fafafa;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.5px;
    padding: 50px 25px 100px 25px;
}

.hero__botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 55px;
    color: #ffff;
    padding-left: 40px;
    position: absolute;
    bottom: 0;
    background-position: 0px center;
    background-color: #203A4C;
    font-family: "Public Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero__botao:hover {
    background-color: #5FB4A2;
}

.sobre__mim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 155px 100px 160px;
}

.profile,
.text {
    flex-basis: 40%;
}

.perfil_img {
    width: 400px;
    height: auto;
}

.sobre__texto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
}

.texto__titulo,
.texto__paragrafo {
    width: auto;
    margin: 0;
}

.texto__titulo {
    color: #33323D;
    font-family: "Ibarra Real Nova", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.texto__paragrafo {
    color: #33323D;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: 30px;
}

.texto__link {
    width: 200px;
    height: 45px;
    border: 2px solid #33323D;
    color: #33323D;
    font-family: "Public Sans", sans-serif;
    font-size: 14px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 45px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto__link:hover {
    background-color: #33323D;
    color: #ffff;
}

.linha__horizontal {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #33323D;
    opacity: 0.15;
}

.contato {
    display: flex;
    justify-content: space-between;
    padding: 0px 165px 0px 164px;
    justify-items: center;
    align-items: center;
}

.contato h2 {
    color: #33323D;
    font-family: "Ibarra Real Nova", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    width: 300px;
}

.contato__link {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    border: 2px solid #33323D;
    color: #33323D;
    font-family: "Public Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato__link:hover {
    background-color: #33323D;
    color: #ffff;
}

.footer {
    margin-top: 100px;
    height: 100px;
    background-color: #33323D;
    display: flex;
    padding: 0px 165px 0px 164px;
    align-items: center;
}

.footer img {
    width: 60px;
    height: 40px;
}

.footer ul {
    display: flex;
    align-items: center;
}

.footer li a {
    color: #ffff;
    font-family: "Public Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.footer__social img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}